/*:root {
    --text-margin: 10vw;
    --img-margin: 10vw;
}*/

body {
    font-family: YoungSerif;
}

html {
    scroll-behavior: smooth;
}

img.photo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

img.logo {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
}

img.item {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: block;
    padding: 25px; /* Change padding on images to vw? */
}

img.icecream {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: block;
    padding: 25px;
}

nav {
    text-align: center;
    font-size: 24px;
    margin: auto;
    background-color:#ffb3b3;
    padding-top: 1px;
    padding-bottom: 1px;
}

@font-face {
    font-family: YoungSerif;
    src: url("fonts/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: PinyonScript;
    src: url("fonts/PinyonScript-Regular.ttf");
}

td {
    padding-right: 3vw;
}

h1 {
    text-align: center;
    font-size: 3.5vw;
}

h3 {
    text-align: center;
    font-size: 2vw;
}

h4 {
    text-align: center;
    font-size: 1.4vw;
}

table {
    margin: auto;
    box-align: center;
    font-size: 1.3vw;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }